<div>
    <label>Username:</label>
    <input type="text" ng-model="user"></input>
    <label>Repository:</label>
    <input type="text" ng-model="repo"></input>
    <button ng-click="$ctrl.lookup(user, repo)">Get</button>
</div>